@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #15171e;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #15171e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b6d9de;
}
